<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">
        var valuesToPlot = [];
        $(function () {
            var categoriesToPlot = $("#categories").html().split(',');
            var valuesToPlot = $.map($('#values').text().split(','), function(value){
                return parseInt(+value);
            });
            console.log(valuesToPlot);
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Word Frequency Counter',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Department of New Media Technology, MODUL University Vienna',
                    x: -20
                },
                xAxis: {
                    categories: categoriesToPlot
                },
                yAxis: {
                    title: {
                        text: 'Frequency'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ' occurrences'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'Ten most frequent words',
                    data: valuesToPlot
                }]
            });
        });

    </script>
</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div style="display:none;" id="categories"><%= categories %></div>
<div style="display:none;" id="values"><%= values %></div>
</body>
</html>